In [41]:
import pandas as pd
import numpy as np
from datetime import datetime as dt

In [42]:
org = pd.read_csv('Historical Product Demand.csv')
df = org.copy()

In [43]:
df

         Product_Code Warehouse Product_Category       Date Order_Demand
0        Product_0993    Whse_J     Category_028  2012/7/27         100
1        Product_0979    Whse_J     Category_028  2012/1/19         500
2        Product_0979    Whse_J     Category_028   2012/2/3         500
3        Product_0979    Whse_J     Category_028   2012/2/9         500
4        Product_0979    Whse_J     Category_028   2012/3/2         500
...               ...       ...              ...        ...          ...
1048570  Product_1791    Whse_J     Category_006  2016/4/27        1000
1048571  Product_1974    Whse_J     Category_006  2016/4/27           1
1048572  Product_1787    Whse_J     Category_006  2016/4/28        2500
1048573  Product_0901    Whse_J     Category_023  2016/10/7          50
1048574  Product_0704    Whse_J     Category_001  2016/6/27           4

[1048575 rows x 5 columns]

In [44]:
df.columns = list(map(lambda x: x.lower(),df.columns))

In [45]:
df

         product_code warehouse product_category       date order_demand
0        Product_0993    Whse_J     Category_028  2012/7/27         100
1        Product_0979    Whse_J     Category_028  2012/1/19         500
2        Product_0979    Whse_J     Category_028   2012/2/3         500
3        Product_0979    Whse_J     Category_028   2012/2/9         500
4        Product_0979    Whse_J     Category_028   2012/3/2         500
...               ...       ...              ...        ...          ...
1048570  Product_1791    Whse_J     Category_006  2016/4/27        1000
1048571  Product_1974    Whse_J     Category_006  2016/4/27           1
1048572  Product_1787    Whse_J     Category_006  2016/4/28        2500
1048573  Product_0901    Whse_J     Category_023  2016/10/7          50
1048574  Product_0704    Whse_J     Category_001  2016/6/27           4

[1048575 rows x 5 columns]

In [46]:
df.rename(columns={
    'product_code':'product',
    'product_category':'category'
},inplace=True)

In [47]:
df

              product warehouse      category       date order_demand
0        Product_0993    Whse_J  Category_028  2012/7/27         100
1        Product_0979    Whse_J  Category_028  2012/1/19         500
2        Product_0979    Whse_J  Category_028   2012/2/3         500
3        Product_0979    Whse_J  Category_028   2012/2/9         500
4        Product_0979    Whse_J  Category_028   2012/3/2         500
...               ...       ...           ...        ...          ...
1048570  Product_1791    Whse_J  Category_006  2016/4/27        1000
1048571  Product_1974    Whse_J  Category_006  2016/4/27           1
1048572  Product_1787    Whse_J  Category_006  2016/4/28        2500
1048573  Product_0901    Whse_J  Category_023  2016/10/7          50
1048574  Product_0704    Whse_J  Category_001  2016/6/27           4

[1048575 rows x 5 columns]

In [48]:
len(df['product'].unique())

2160

In [49]:
df['product'].unique()

array(['Product_0993', 'Product_0979', 'Product_1159', ...,
       'Product_0237', 'Product_0644', 'Product_0853'], dtype=object)

In [50]:
df['product'] = list(map(lambda x: x.replace('Product_',''),df['product']))

In [51]:
df['product'].unique()

array(['0993', '0979', '1159', ..., '0237', '0644', '0853'], dtype=object)

In [52]:
df.warehouse.unique()

array(['Whse_J', 'Whse_S', 'Whse_C', 'Whse_A'], dtype=object)

In [53]:
df['warehouse'] = list(map(lambda x: x.lower(),list(map(lambda x: x.replace('Whse_',''),df['warehouse']))))

In [54]:
df.warehouse.unique()

array(['j', 's', 'c', 'a'], dtype=object)

In [56]:
df

        product warehouse      category       date order_demand
0          0993         j  Category_028  2012/7/27         100
1          0979         j  Category_028  2012/1/19         500
2          0979         j  Category_028   2012/2/3         500
3          0979         j  Category_028   2012/2/9         500
4          0979         j  Category_028   2012/3/2         500
...         ...       ...           ...        ...          ...
1048570    1791         j  Category_006  2016/4/27        1000
1048571    1974         j  Category_006  2016/4/27           1
1048572    1787         j  Category_006  2016/4/28        2500
1048573    0901         j  Category_023  2016/10/7          50
1048574    0704         j  Category_001  2016/6/27           4

[1048575 rows x 5 columns]

In [57]:
df['category'] = list(map(lambda x: x.lower(),list(map(lambda x: x.replace('Category_',''),df['category']))))

In [77]:
len(df['category'].unique())

33

In [58]:
df

        product warehouse category       date order_demand
0          0993         j      028  2012/7/27         100
1          0979         j      028  2012/1/19         500
2          0979         j      028   2012/2/3         500
3          0979         j      028   2012/2/9         500
4          0979         j      028   2012/3/2         500
...         ...       ...      ...        ...          ...
1048570    1791         j      006  2016/4/27        1000
1048571    1974         j      006  2016/4/27           1
1048572    1787         j      006  2016/4/28        2500
1048573    0901         j      023  2016/10/7          50
1048574    0704         j      001  2016/6/27           4

[1048575 rows x 5 columns]

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 5 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   product       1048575 non-null  object
 1   warehouse     1048575 non-null  object
 2   category      1048575 non-null  object
 3   date          1037336 non-null  object
 4   order_demand  1048575 non-null  object
dtypes: object(5)
memory usage: 40.0+ MB

In [60]:
df.date = pd.to_datetime(df.date)

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 5 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   product       1048575 non-null  object
 1   warehouse     1048575 non-null  object
 2   category      1048575 non-null  object
 3   date          1037336 non-null  datetime64[ns]
 4   order_demand  1048575 non-null  object
dtypes: datetime64[ns](1), object(4)
memory usage: 40.0+ MB

In [63]:
df.order_demand.unique()

array(['100 ', '500 ', '50000 ', ..., '(3750)', '(191)', '28250 '],
      dtype=object)

In [74]:
t = [y for y in enumerate(df.order_demand) if '(' in y[1]]

In [75]:
idx = list(map(lambda x: x[0],t))
idx

[112290,
 112307,
 112308,
 112356,
 112357,
 112360,
 112378,
 112441,
 112563,
 112610,
 112673,
 112679,
 112696,
 112697,
 112719,
 112857,
 112926,
 112927,
 113062,
 113095,
 113096,
 113097,
 113098,
 113127,
 113130,
 113132,
 113137,
 113141,
 113174,
 113175,
 113236,
 113237,
 113245,
 113295,
 113489,
 113831,
 114721,
 114764,
 114816,
 114834,
 115607,
 115741,
 115750,
 115761,
 115763,
 115768,
 115780,
 115787,
 115836,
 115853,
 115860,
 115861,
 115864,
 115865,
 115866,
 115955,
 116042,
 116335,
 116451,
 116452,
 116453,
 116454,
 116479,
 116480,
 116493,
 116494,
 116495,
 116496,
 116504,
 116505,
 116518,
 116519,
 116529,
 116530,
 116531,
 116539,
 116541,
 116549,
 116550,
 116576,
 116577,
 116694,
 116718,
 116908,
 116909,
 116914,
 116921,
 116933,
 117034,
 117070,
 117123,
 117130,
 117134,
 117139,
 117158,
 117159,
 117169,
 117175,
 117176,
 117177,
 117192,
 117196,
 117197,
 117198,
 117207,
 117211,
 117212,
 117213,
 117223,
 117224,
 117225,
 117226,
 117237,
 117238,
 117239,
 117240,
 117242,
 117252,
 117253,
 117261,
 117270,
 117275,
 117278,
 117297,
 117306,
 117311,
 117312,
 117313,
 117314,
 117316,
 117317,
 117318,
 117332,
 117333,
 117334,
 117335,
 117357,
 117365,
 117366,
 117367,
 117379,
 117380,
 117382,
 117388,
 117389,
 117390,
 117393,
 117465,
 117466,
 117481,
 117525,
 117553,
 117556,
 117636,
 117637,
 117638,
 117656,
 117658,
 117738,
 117739,
 117822,
 117823,
 117839,
 118118,
 118185,
 118187,
 118234,
 118249,
 118272,
 119706,
 119715,
 119716,
 119717,
 119719,
 119731,
 119737,
 119771,
 119772,
 119773,
 119786,
 119818,
 119824,
 119825,
 119833,
 119834,
 119837,
 119839,
 119916,
 119929,
 119930,
 119967,
 119968,
 120344,
 120345,
 120383,
 120384,
 120385,
 120389,
 121551,
 121552,
 121553,
 121613,
 121614,
 121615,
 121811,
 121819,
 121820,
 121891,
 121892,
 121927,
 121928,
 121929,
 121930,
 121958,
 121972,
 121979,
 121985,
 121990,
 121991,
 121995,
 122034,
 122035,
 122123,
 122129,
 122130,
 122131,
 122132,
 122133,
 122203,
 122205,
 122217,
 122232,
 122234,
 122235,
 122236,
 122237,
 122238,
 122247,
 122253,
 122271,
 122272,
 122273,
 122274,
 122290,
 122296,
 122297,
 122322,
 122323,
 122339,
 122349,
 122357,
 122358,
 122505,
 122511,
 122512,
 122516,
 122518,
 122523,
 122569,
 122570,
 122571,
 122572,
 122881,
 122882,
 122883,
 122919,
 122920,
 122921,
 123073,
 123086,
 123087,
 123131,
 123433,
 123684,
 123696,
 123929,
 123930,
 123931,
 123942,
 123943,
 123954,
 124169,
 124182,
 124254,
 124265,
 124463,
 124484,
 124500,
 124501,
 124542,
 124566,
 124687,
 124788,
 124800,
 125248,
 125249,
 125250,
 125251,
 125252,
 125253,
 125281,
 125294,
 125295,
 125296,
 125474,
 125546,
 125547,
 125581,
 125608,
 125609,
 125612,
 126334,
 126346,
 126352,
 127126,
 127129,
 127136,
 127143,
 127157,
 127219,
 127275,
 127276,
 127306,
 127307,
 127308,
 127309,
 127313,
 127329,
 127359,
 127360,
 127361,
 127376,
 127377,
 127378,
 127388,
 127389,
 127397,
 127402,
 127403,
 127404,
 127405,
 127406,
 127407,
 127408,
 127409,
 127410,
 127411,
 127412,
 127413,
 127414,
 127415,
 127416,
 127417,
 127420,
 127421,
 127422,
 127423,
 127424,
 127425,
 127426,
 127429,
 127430,
 127435,
 127436,
 127437,
 127438,
 127443,
 127458,
 127546,
 127547,
 127548,
 127549,
 127550,
 127562,
 127566,
 127650,
 127676,
 127711,
 127740,
 127819,
 127844,
 127980,
 128060,
 128061,
 128378,
 128379,
 128404,
 128522,
 128561,
 128570,
 128576,
 128657,
 128658,
 128659,
 128660,
 129297,
 129314,
 129486,
 129534,
 129588,
 129589,
 130099,
 130462,
 130503,
 130504,
 130559,
 130581,
 130587,
 130588,
 130637,
 130641,
 130642,
 130650,
 130688,
 130689,
 130697,
 130698,
 130699,
 130700,
 130702,
 130703,
 130729,
 130730,
 130732,
 130733,
 130743,
 130789,
 130843,
 130844,
 130849,
 130850,
 131026,
 131027,
 131028,
 131031,
 131032,
 131361,
 131363,
 131364,
 131369,
 131370,
 131397,
 131398,
 131405,
 131426,
 131429,
 131721,
 131796,
 131797,
 132060,
 132118,
 132124,
 132564,
 132871,
 133006,
 133021,
 133025,
 133072,
 133111,
 133168,
 133169,
 133174,
 133175,
 133176,
 133177,
 133178,
 133400,
 133401,
 133402,
 133403,
 133404,
 133528,
 133659,
 133677,
 133678,
 133800,
 134016,
 134017,
 134274,
 134899,
 135077,
 135410,
 135416,
 135737,
 135738,
 135892,
 135893,
 136041,
 136042,
 136102,
 136309,
 136805,
 137278,
 137362,
 137406,
 138084,
 138115,
 138116,
 138273,
 138274,
 138391,
 138649,
 138650,
 138714,
 139117,
 139510,
 139511,
 139515,
 139555,
 139556,
 139779,
 139918,
 139947,
 139967,
 139990,
 140061,
 140093,
 140102,
 140186,
 140341,
 140342,
 140379,
 140477,
 140681,
 140682,
 140701,
 140702,
 140967,
 141079,
 141105,
 141182,
 141183,
 141286,
 141303,
 141386,
 141722,
 141791,
 141792,
 141815,
 141993,
 142082,
 142083,
 142121,
 142147,
 142149,
 142155,
 142156,
 142157,
 142158,
 142159,
 142168,
 142519,
 142746,
 142896,
 143049,
 143052,
 143056,
 143082,
 143105,
 143106,
 143109,
 143122,
 143123,
 143124,
 143125,
 143130,
 143131,
 143132,
 143133,
 143134,
 143135,
 143136,
 143137,
 143141,
 143142,
 143143,
 143144,
 143145,
 143359,
 143434,
 143435,
 143637,
 143638,
 143653,
 143689,
 143690,
 143691,
 143849,
 143862,
 143992,
 143993,
 143998,
 143999,
 144000,
 144001,
 144002,
 144079,
 144434,
 144509,
 144510,
 144511,
 144512,
 144570,
 144637,
 144675,
 144693,
 144704,
 144868,
 144882,
 145041,
 145261,
 145262,
 145581,
 145678,
 145704,
 145843,
 145844,
 145847,
 145848,
 145849,
 145878,
 145908,
 146096,
 146178,
 146797,
 146798,
 146941,
 146967,
 146971,
 146979,
 146980,
 146991,
 147029,
 147049,
 147062,
 147165,
 147166,
 147167,
 147302,
 147481,
 147487,
 147524,
 148047,
 148404,
 148408,
 148535,
 148554,
 148803,
 148993,
 149160,
 149162,
 149163,
 149209,
 149231,
 149247,
 149324,
 149433,
 149434,
 149435,
 149541,
 149734,
 149823,
 149837,
 150029,
 150530,
 151071,
 151536,
 151685,
 151737,
 151825,
 151868,
 151956,
 151957,
 151960,
 152030,
 152207,
 152334,
 152361,
 152634,
 152650,
 152651,
 152653,
 152661,
 152750,
 152809,
 152813,
 152831,
 152837,
 152838,
 152839,
 152853,
 152951,
 152953,
 152969,
 153172,
 153189,
 153440,
 153645,
 153648,
 153670,
 153671,
 153699,
 153759,
 153760,
 154046,
 154125,
 154139,
 154140,
 154185,
 154186,
 154187,
 154198,
 154225,
 154369,
 154457,
 154537,
 154574,
 154652,
 154819,
 154820,
 154823,
 154828,
 154861,
 154990,
 155113,
 155135,
 155280,
 155284,
 155304,
 155803,
 155850,
 155851,
 155852,
 155853,
 155854,
 155855,
 155856,
 155857,
 155858,
 155859,
 155860,
 155861,
 155862,
 155863,
 155864,
 155865,
 155866,
 155867,
 155979,
 155985,
 156070,
 156329,
 156471,
 156523,
 156545,
 156623,
 156633,
 156634,
 156666,
 156753,
 156760,
 156794,
 156795,
 156800,
 156926,
 156949,
 157077,
 157080,
 157081,
 157134,
 157295,
 157318,
 157368,
 157405,
 157513,
 157534,
 157559,
 157563,
 157600,
 157601,
 157736,
 157886,
 157940,
 157996,
 158260,
 158340,
 158341,
 158361,
 158447,
 158538,
 159084,
 159212,
 159213,
 159283,
 159318,
 159379,
 159499,
 159502,
 159503,
 159504,
 159612,
 159613,
 159615,
 159789,
 159818,
 159888,
 159992,
 159996,
 160217,
 160571,
 160575,
 160603,
 160604,
 160605,
 160606,
 160607,
 160608,
 160750,
 160835,
 160836,
 160837,
 160866,
 161002,
 161121,
 161203,
 161204,
 161403,
 161404,
 161621,
 161665,
 161775,
 162094,
 162121,
 162122,
 162424,
 162549,
 162551,
 162564,
 162579,
 162916,
 163485,
 163684,
 164072,
 164125,
 164624,
 164720,
 164722,
 164845,
 164860,
 164946,
 164947,
 164970,
 165024,
 165193,
 165194,
 165203,
 165227,
 165228,
 165229,
 165265,
 165495,
 165528,
 165529,
 165558,
 165768,
 165769,
 165788,
 165789,
 165806,
 165833,
 165853,
 165893,
 165927,
 166007,
 166008,
 166271,
 166275,
 166276,
 166277,
 166278,
 166280,
 166574,
 166576,
 166577,
 166578,
 166579,
 166580,
 166581,
 166582,
 166583,
 166585,
 166586,
 166587,
 166588,
 166593,
 166594,
 166595,
 166698,
 166700,
 166822,
 167170,
 167188,
 167189,
 167190,
 167191,
 167325,
 167326,
 167436,
 167670,
 167879,
 167964,
 168071,
 168290,
 168379,
 168512,
 168611,
 168612,
 168613,
 168614,
 168615,
 168616,
 168819,
 168825,
 168882,
 168888,
 168974,
 168989,
 169151,
 169165,
 169349,
 169350,
 169444,
 169445,
 169446,
 169448,
 169479,
 169714,
 169919,
 169943,
 169944,
 169973,
 170122,
 170179,
 170423,
 170545,
 170607,
 170722,
 170726,
 171444,
 171627,
 171644,
 171951,
 171969,
 171995,
 172058,
 172066,
 172075,
 172129,
 172133,
 172457,
 172489,
 172523,
 172555,
 172609,
 172630,
 172631,
 172632,
 172633,
 172634,
 172635,
 172732,
 172844,
 172912,
 173049,
 173147,
 173150,
 173268,
 173269,
 173281,
 173421,
 173490,
 173546,
 173573,
 173594,
 173610,
 173642,
 173743,
 173744,
 174279,
 174280,
 174281,
 174282,
 174621,
 174622,
 174729,
 174767,
 174918,
 175185,
 175444,
 175562,
 ...]

In [76]:
df.iloc[idx,:]

        product warehouse category       date order_demand
112290     2169         a      024 2012-08-09          (1)
112307     2132         a      009 2012-11-01         (24)
112308     2144         a      009 2012-11-01         (24)
112356     2118         a      009 2012-03-07         (50)
112357     2120         a      009 2012-03-07        (100)
...         ...       ...      ...        ...          ...
1047812    1887         j      007 2016-06-30        (100)
1047840    0092         j      019 2016-06-15        (400)
1047855    0686         j      011 2016-07-29        (230)
1047856    0687         j      011 2016-07-29        (230)
1047857    0688         j      011 2016-07-29        (270)

[10469 rows x 5 columns]

In [80]:
df.order_demand = list(map(lambda x: x.replace(')',''),list(map(lambda x: x.replace('(',''),df.order_demand))))

In [81]:
df.iloc[idx,:]

        product warehouse category       date order_demand
112290     2169         a      024 2012-08-09            1
112307     2132         a      009 2012-11-01           24
112308     2144         a      009 2012-11-01           24
112356     2118         a      009 2012-03-07           50
112357     2120         a      009 2012-03-07          100
...         ...       ...      ...        ...          ...
1047812    1887         j      007 2016-06-30          100
1047840    0092         j      019 2016-06-15          400
1047855    0686         j      011 2016-07-29          230
1047856    0687         j      011 2016-07-29          230
1047857    0688         j      011 2016-07-29          270

[10469 rows x 5 columns]

In [82]:
df.order_demand = pd.to_numeric(df.order_demand)

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 5 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   product       1048575 non-null  object
 1   warehouse     1048575 non-null  object
 2   category      1048575 non-null  object
 3   date          1037336 non-null  datetime64[ns]
 4   order_demand  1048575 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 40.0+ MB

In [85]:
df_cat = df.groupby(by='category',axis=0).count()['product']
df_cat

category
001     97787
002        77
003      4189
004       329
005    101671
006     35577
007     82402
008      1560
009     19738
010       976
011     23208
012      1147
013      3743
014        26
015     22954
016        37
017       615
018      5239
019    481099
020      3490
021     52011
022      8657
023      7899
024     20885
025        35
026     14803
027        26
028     31302
029       671
030     12997
031      2280
032      9296
033      1849
Name: product, dtype: int64

In [105]:
set([len(df[df['product'] == x]['category'].unique()) for x in df['product'].unique()])

{1}