In [41]:
import pandas as pd
import numpy as np
from datetime import datetime as dt

In [42]:
org = pd.read_csv('Historical Product Demand.csv')
df = org.copy()

In [43]:
df

         Product_Code Warehouse Product_Category       Date Order_Demand
0        Product_0993    Whse_J     Category_028  2012/7/27         100
1        Product_0979    Whse_J     Category_028  2012/1/19         500
2        Product_0979    Whse_J     Category_028   2012/2/3         500
3        Product_0979    Whse_J     Category_028   2012/2/9         500
4        Product_0979    Whse_J     Category_028   2012/3/2         500
...               ...       ...              ...        ...          ...
1048570  Product_1791    Whse_J     Category_006  2016/4/27        1000
1048571  Product_1974    Whse_J     Category_006  2016/4/27           1
1048572  Product_1787    Whse_J     Category_006  2016/4/28        2500
1048573  Product_0901    Whse_J     Category_023  2016/10/7          50
1048574  Product_0704    Whse_J     Category_001  2016/6/27           4

[1048575 rows x 5 columns]

In [44]:
df.columns = list(map(lambda x: x.lower(),df.columns))

In [45]:
df

         product_code warehouse product_category       date order_demand
0        Product_0993    Whse_J     Category_028  2012/7/27         100
1        Product_0979    Whse_J     Category_028  2012/1/19         500
2        Product_0979    Whse_J     Category_028   2012/2/3         500
3        Product_0979    Whse_J     Category_028   2012/2/9         500
4        Product_0979    Whse_J     Category_028   2012/3/2         500
...               ...       ...              ...        ...          ...
1048570  Product_1791    Whse_J     Category_006  2016/4/27        1000
1048571  Product_1974    Whse_J     Category_006  2016/4/27           1
1048572  Product_1787    Whse_J     Category_006  2016/4/28        2500
1048573  Product_0901    Whse_J     Category_023  2016/10/7          50
1048574  Product_0704    Whse_J     Category_001  2016/6/27           4

[1048575 rows x 5 columns]

In [46]:
df.rename(columns={
    'product_code':'product',
    'product_category':'category'
},inplace=True)

In [47]:
df

              product warehouse      category       date order_demand
0        Product_0993    Whse_J  Category_028  2012/7/27         100
1        Product_0979    Whse_J  Category_028  2012/1/19         500
2        Product_0979    Whse_J  Category_028   2012/2/3         500
3        Product_0979    Whse_J  Category_028   2012/2/9         500
4        Product_0979    Whse_J  Category_028   2012/3/2         500
...               ...       ...           ...        ...          ...
1048570  Product_1791    Whse_J  Category_006  2016/4/27        1000
1048571  Product_1974    Whse_J  Category_006  2016/4/27           1
1048572  Product_1787    Whse_J  Category_006  2016/4/28        2500
1048573  Product_0901    Whse_J  Category_023  2016/10/7          50
1048574  Product_0704    Whse_J  Category_001  2016/6/27           4

[1048575 rows x 5 columns]

In [48]:
len(df['product'].unique())

2160

In [49]:
df['product'].unique()

array(['Product_0993', 'Product_0979', 'Product_1159', ...,
       'Product_0237', 'Product_0644', 'Product_0853'], dtype=object)

In [50]:
df['product'] = list(map(lambda x: x.replace('Product_',''),df['product']))

In [51]:
df['product'].unique()

array(['0993', '0979', '1159', ..., '0237', '0644', '0853'], dtype=object)

In [52]:
df.warehouse.unique()

array(['Whse_J', 'Whse_S', 'Whse_C', 'Whse_A'], dtype=object)

In [53]:
df['warehouse'] = list(map(lambda x: x.lower(),list(map(lambda x: x.replace('Whse_',''),df['warehouse']))))

In [54]:
df.warehouse.unique()

array(['j', 's', 'c', 'a'], dtype=object)